


#header{
	text-align: center;
}
#player1 {
	float:left ;
}

#player2 {
	float:right;
	
}	

#players{
	text-align: center;
}


#attackBtn {
	background: red;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	min-width: 150px;
}

#buttonDiv{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  min-height: 200px;
}

#player1Select, #player2Select {
	text-align: center;

}

#player1Select{
	float: left;
	list-style: none;
	clear:both;
}

#player2Select{
	float: right;
	list-style: none;
}
/*buttons*/
#terminatorBtn {
	min-width: 150px;
	background: lightblue;
	border-radius: 7px;
}

#zippoBtn{
	min-width: 150px;
	background: chartreuse;
	border-radius: 7px;
}

#panzerBtn{
	min-width: 150px;
	background: darksalmon;
	border-radius: 7px;
}

#shermanBtn{
	min-width: 150px;
	background: darkorange;
	border-radius: 7px;
}

#stingerBtn{
	min-width: 150px;
	background: firebrick;
	border-radius: 7px;
}

#hornetBtn{
	min-width: 150px;
	background: indigo;
	border-radius: 7px;
	color: white;
}

#battleArena{
	border: 1px solid black;
	min-width: 400px;
	min-height: 200px;
	display: block;
	max-height: 200px;
	overflow-y: scroll;
}

#introText1{
	float:left;
	padding-left: 17px;
}

#introText2{
	float: right;
	padding-right: 17px;
}

#fightLog{
	padding: 5px 5px;
	border: 1px solid black;
}


